<section class="pt-3">
    <div class="card">
        <div class="card-header">
            <h2>Work Experience</h2>
        </div>
        <div class="card-body d-flex flex-wrap">
            <div *ngFor="let job of jobs" class="card col-md-6 col-sm-12 border-0">
                <div class="card-body">
                    <h5 class="card-title">{{ job.jobTitle }}</h5>
                    <p class="card-text">{{ job.startDate }} – {{ job.endDate }}  <strong><em>{{ job.companyName }}</em></strong>, {{ job.city }}</p>
                    <p class="card-text" style="font-size: 90%;">{{ job.description }}</p>
                    <div class="row">
                        <div class="col-md">
                            <h6>Technologies Used</h6>
                            <ul class="list-inline row justify-content-between" style="font-size: 80%;">
                                <li *ngFor="let technology of job.technologiesUsed" class="list-inline-item col-md-5 m-1">
                                    <a [attr.href]="technologies[technology].wiki">{{ technologies[technology].description }}</a>
                                </li>
                            </ul>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pt-3">
    <div class="card">
        <div class="card-header">
            <h2>Education</h2>
        </div>
        <div class="card-body d-flex flex-wrap">
            <div class="card col-md-6 col-sm-12 border-0">
                <div class="card-body">
                    <h5 class="card-title">Web Software Developer Associate Degree</h5>
                    <p class="card-text">January 2018 - December 2019  <strong><em>Madison College</em></strong>, Madison, WI</p>
                </div>
            </div>
            <div class="card col-md-6 col-sm-12 border-0">
                <div class="card-body">
                    <h5 class="card-title">Graphic Design Associate Degree</h5>
                    <p class="card-text">September 1995 - May 1999  <strong><em>Madison College</em></strong>, Madison, WI</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pt-3">
    <div class="card">
        <div class="card-header">
            <h2>Supplemental Experience</h2>
        </div>
        <div class="card-body d-flex flex-wrap">
            <div class="card col-md border-0">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            Paid-On-Call Firefighter for the City of Fitchburg
                        </li>
                        <li class="list-group-item">
                            Member of the Fitchburg Fire Department Honor Guard
                        </li>
                        <li class="list-group-item">
                            Advisor for Explorer Post 2119
                        </li>
                    </ul> 
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pt-3">
    <div class="card">
        <div class="card-header">
            <h2>Clients</h2>
        </div>
        <div class="card-body">
            <div class="card-text row p-3">
                <div class="col-md-6 p-2" *ngFor="let client of clients">
                        {{ client.name }}
                </div>
            </div>
            
        </div>
    </div>
</section>