/* You can add global styles to this file, and also import other style files */
body {
    background-color: #eeeeee;
    font-size: 1em;
}

header {
    background-color: #003153;
}

h1, h2, h3, h4, h5, h6 {
    color: #003153;
}

main {
    background-color: #ffffff;
    min-height: 100px;
}

footer {
    background-color: #003153;
    font-size: 0.75em;
    bottom: 0;
    height: 50px;
    line-height: 50px;
}

.navbar-brand-logo {
    width: 100%;
    max-width: 50px;
    height: auto;
}

.card-header {
    font-weight: bold;
    background-color: rgba(0, 49, 83, 0.1);
}
