#Divider-Top {
    width: 100%;
    height: 100px;
    display: block;
}

#Divider-Top > polygon {
    fill: rgba(0, 49, 83, 1);
    stroke: none;
    stroke-width: unset;
}

#Divider-Bottom {
    width: 100%;
    height: 100px;
    display: block;
}

#Divider-Bottom > polygon {
    fill: rgba(0, 49, 83, 1);
    stroke: none;
    stroke-width: unset;
}

@media screen and (max-width: 750px) {
    #Divider-Top, #Divider-Bottom {
        display:none;
    }
}