<section class="row jumbotron">

    <p class="font-weight-bold">DevFecta is a web development, design, and consulting company based in Fitchburg, Wisconsin that offers professional website design, web development, 
    and graphic design services. And try my consulting service if you just need a little help with a current web project.</p>

</section>

<section class="row pb-5">
    <div class="container featurette">
        <h2 class="featurette-heading">Development</h2>
        <p>DevFecta's web development and programming expertise integrates custom programming and design to create interactive web systems that will grow with your business. We understand that your website should reflect who you are, and is a primary contact for your business.</p>
        <p>Your goals are at the forefront of every project we do and will provide reliable ongoing tech support to our clients.</p>
        <p style="display: none;"><a class="btn btn-lg btn-primary rollover-fade" href="Development.aspx" role="button">More Info &raquo;</a></p>
    </div>
</section>

<div class="row">
    <svg id="Divider-Top" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="0,100 100,100 0,0" />
    </svg>
</div>

<section class="row pb-5" style="background: rgba(0, 49, 83, 1);">
    <div class="container featurette" style="color:#ffffff">
        <h2 class="featurette-heading text-light">Design</h2>
        <p>DevFecta, LLC develops websites of all sizes. Our web design process can either start completely from scratch, or with the dynamic CMS Wordpress that can customized to meet your business needs. Our experienced team can have a completely customized web solution, backend administrative controls, and a website that will grow with your business.</p>
        <p>Give your business an online web presence with information about your products or services. Your website will be custom designed and developed to meet the needs of your business.</p>
        <p style="display: none;"><a class="btn btn-lg btn-primary rollover-fade" style="background: rgba(255, 255, 255, 1); color: rgba(30, 50, 170, 1);" href="Design.aspx" role="button">More Info &raquo;</a></p>
    </div>
</section>

<div class="row">
    <svg id="Divider-Bottom" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="100,0 100,100 0,0" />
    </svg>
</div>

<section class="row pb-5">
    <div class="container featurette">
        <h2 class="featurette-heading">Consulting</h2>
        <p>Got a web project that's grown and just need a little extra help, or just can't figure out an issue on your website? DevFecta, LLC can help! Our experienced team can sit down and meet with you to find the best solution to help you with your web project.</p>
        <p style="display: none;"><a class="btn btn-lg btn-primary rollover-fade" href="Consulting.aspx" role="button">More Info &raquo;</a></p>
    </div>
</section>